# API Config
BASE_URL=http://localhost:3000
EXTERNAL_BASE_URL=https://api.kampscout.com
PORT=3000

# RIDB Config
RIDB_BASE_URL=https://ridb.recreation.gov/api/v1/
RIDB_API_KEY=your_api_key_here

# Email Config (ZeptoMail SMTP)
EMAIL_HOST=smtp.zeptomail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=emailapikey
EMAIL_PASS=your_zeptomail_mail_agent_password
EMAIL_FROM=info@kampscout.com
EMAIL_NAME=Kamp Scout

# Monitor Settings
MONITOR_INTERVAL_SECONDS=20
MONITOR_BATCH_SIZE=10
MONITOR_BATCH_DELAY_MS=2000
RATE_LIMIT_PAUSE_SECONDS=120
MONITOR_INTERVAL_MINUTES=10

# Campsite Availability Settings
AVAILABLE_CAMPSITE_STATUSES=Available,Open